version: 2

updates:
  # npm dependencies
  - package-ecosystem: npm
    directory: /
    target-branch: beta
    schedule:
      interval: weekly
      day: monday
    groups:
      dev-dependencies:
        dependency-type: development
      prod-dependencies:
        dependency-type: production
    open-pull-requests-limit: 10

  # GitHub Actions
  - package-ecosystem: github-actions
    directory: /
    target-branch: beta
    schedule:
      interval: weekly
      day: monday
    open-pull-requests-limit: 5
