.page {
  max-width: 1200px;
}

.title {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-text-primary);
}

.description {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-text-subtle);
}
