@import './tokens.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  overflow-x: hidden;
  background-color: var(--color-bg-secondary);
  color: var(--color-text-primary);
}

input,
textarea,
select,
button {
  font: inherit;
  color: inherit;
  background-color: transparent;
}

#root {
  min-height: 100vh;
}
