*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
}
